@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello!</h1>
    <p>I'm Ania Barczyk and I want to welcome you to my external API client based on ASP.NET Core and Entity Framework Core.</p>
    <p>Login functionality and user roles are created with ASP.NET Core Identity membership system.</p>
    <p>External API is brought to you by <a href="https://rickandmortyapi.com/">The Rick and Morty API</a>.</p>
</div>
